{% extends "base.html" %}
{% block content %}
  <h2>Deauthentication Attack</h2>
  <form method="post" action="{{ url_for('deauth') }}">
    {{ form.csrf_token }}
    <div>
      {{ form.bssid.label }}<br>
      {{ form.bssid(size=20) }}
      {% for err in form.bssid.errors %}
        <span class="error">{{ err }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.count.label }}<br>
      {{ form.count() }}
      {% for err in form.count.errors %}
        <span class="error">{{ err }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.interval.label }}<br>
      {{ form.interval() }}
      {% for err in form.interval.errors %}
        <span class="error">{{ err }}</span>
      {% endfor %}
    </div>
    <button type="submit">Launch Deauth</button>
  </form>
{% endblock %}